#palavra-masked, #vidas {
  display: flex;
}

.hidden {
  display: none;
}

.letra {
  border: 2px solid black;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
}

.vida-item {
  width: 50px;
  margin-left: 10px;
}

.game-over-item { 
  width: 100px;
}

main > div {
  margin-bottom: 20px;
}

/* CSS Modal */
.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

  .modal-container.mostrar {
    display: flex;
  }

.modal {
  background: white;
  width: 60%;
  min-width: 300px;
  height: 460px;
  padding: 40px;
  border: 10px solid #988b7a;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes modal {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0); /* Animação de caida */
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.fechar {
    position: absolute;
    font-size: 1.2em;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    font-family: "PT Mono", monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}